@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}


<div @(Model.Value<Our.Umbraco.AnimateOnScroll.Models.Animation>("animate")?.ToHtml())></div>